<%- include('header') %>
      <div class="container">
        
        <div class="row">
            <div id="categorybox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Edit Password Detail</div>
                    </div>  
                    <div class="panel-body" >
                        <form action="/password-detail/edit/<%= record._id %>" id="PasswordForm" class="form-horizontal" method="post">
                          <input type="hidden" name="id" value="<%= record._id %>">
                          <% if(success != '') {%>
                            <div id="loginalert" class="alert alert-success">
                                <p style="text-align: center;"><%= success %></p>
                            </div>
                            <% } %>
                            <div class="form-group">
                                <label for="passCategory" class="col-md-3 control-label">Password Category</label>
                                <div class="col-md-9">
                                    <select name="passCategory" class="form-control">
                                        <option value="">Select Your Password Category</option>
                                        <% if(records.length > 0) { 
                                          records.forEach(function(row){ %>
                                        <option value="<%= row.password_category %>" <% if(row.password_category == record.password_category) { %> selected <% } %>> <%= row.password_category %></option>
                                        <% }) }%>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                              <label for="project_name" class="col-md-3 control-label">Project Name</label>
                              <div class="col-md-9">
                                  <input type="textbox" class="form-control" name="project_name" value="<%= record.project_name %>" placeholder="Enter Your Project Name" required>
                              </div>
                          </div>

                            <div class="form-group">
                                <label for="passDetails" class="col-md-3 control-label">Password Details</label>
                                <div class="col-md-9">
                                    <textarea type="text" rows="4" id="editor" class="form-control" name="passDetails" placeholder="Enter Your Password Details" required><%= record.password_details %></textarea>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <!-- Button -->                                        
                                <div class="col-md-offset-3 col-md-9">
                                <input type="submit" name="submit" value="Update Password" class="btn btn-primary">   
                                </div>
                            </div>
                            <p><a href="/view-all-password">View All Password Details</a></p>
  
                        </form>
                     </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <script>
          CKEDITOR.replace( 'editor' );
        </script>
        <%- include('footer') %>